# Map all contributors to gramanoid
gramanoid <alexgrama@users.noreply.github.com> Alex Grama <149164418+gramanoid@users.noreply.github.com>
gramanoid <alexgrama@users.noreply.github.com> AlexGrama7 <alexgrama@example.com>
gramanoid <alexgrama@users.noreply.github.com> Andre Lackmann <andre@lackmann.net>